In [1]:
import pandas as pd

In [6]:
mapping_input = pd.read_csv("~/Documents/code/git_hub/scwgbs_ntc_plots/example/biscuit-mapping-overview-plot.csv")

mapping_input.columns = ["sample", "optimally_aligned_reads", "suboptimally_aligned_reads", "unaligned_reads"]

mapping_input

,sample,optimally_aligned_reads,suboptimally_aligned_reads,unaligned_reads
0,A03_1,2973640,816726,14452
1,A04_1,2496986,704886,11628
2,A05_1,2220067,570649,9300
3,A06_0,2685,10296,1149
4,A07_1,1979815,535294,8093
...,...,...,...,...
71,H04_1,2401129,1143986,127449
72,H05_1,3326085,867516,13549
73,H06_50,3048718,805674,10988
74,H07_1,2988761,751917,9952
75,H09_1,2672255,689734,9765

In [7]:
retention_input = pd.read_csv("~/Documents/code/git_hub/scwgbs_ntc_plots/example/biscuit_retention.csv")

retention_input.columns = ["sample", "cpa_retention", "cpc_retention", "cpg_retention", "cpt_retention"]

retention_input

    sample  cpa_retention  cpc_retention  cpg_retention  cpt_retention
0    A03_1       1.395099       1.395339      72.904213       1.265440
1    A04_1       1.189949       1.139062      72.061539       0.974372
2    A05_1       0.889695       0.957267      74.633001       0.807633
3    A06_0       6.862694       7.415745      73.265853       5.158026
4    A07_1       1.598961       1.435642      73.306876       1.347791
..     ...            ...            ...            ...            ...
71   H04_1       1.250759       1.211336      71.830755       0.972431
72   H05_1       0.989501       1.014449      72.050327       0.879655
73  H06_50       1.292571       1.256642      73.225566       1.126413
74   H07_1       0.739562       0.845693      73.783523       0.719305
75   H09_1       1.304401       0.885787      73.215935       0.850655

[76 rows x 5 columns]